root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# บังคับใช้ Namespace ให้ตรงกับโครงสร้าง Folder ใน C#
[*.{cs,vb}]
dotnet_naming_rule.namespace_match.rule = naming_style
dotnet_naming_rule.namespace_match.symbols = namespace_symbols
